/* ===== General Reset and Font ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #0a0a15;
  color: white;
  overflow: hidden;
}

.app {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
  padding-top: 60px;
}

/* ===== Navbar ===== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(160deg, #021f1f, #0c3e3e);
  color: white;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1000; 
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.login-btn {
  background: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  color:black;
}

/* ===== Search ===== */
.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.search-container input {
  width: 100%;
  padding: 10px 50px 10px 20px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: white;
  color: black;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('images/mg.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* ===== Sidebar  ===== */
.sidebar {
  overflow-y: auto;
  width: 250px;
  background: linear-gradient(160deg, #021f1f, #0c3e3e);
  color: #fff;
  height: 100vh;
  padding: 20px;
  max-height: calc(100vh - 60px);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  height: 40px; 
  width: auto;
}

.logo h1 {
  font-size: 1rem; 
  margin-left: 8px;
}


.profile-pic-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
   padding-top: 80px;
}

.genres span {
  display: inline-block;
  background: #00c6a7;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 3px;
  font-size: 0.75rem;
}

nav a {
  display: block;
  color: #ddd;
  text-decoration: none;
  margin: 10px 0;
  padding: 8px 15px;
  border-radius: 8px;
}

nav a.active,
nav a:hover {
  background: #1c2635;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
}

h2 {
  margin-bottom: 25px;
}

.favorites-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.fav-card {
  background : rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  padding: 15px;
  width: 180px;
  text-align: center;
  transition: transform 0.3s;
}

.fav-card:hover {
  transform: scale(1.05);
}

.fav-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.fav-card h4 {
  margin: 0;
  font-size: 1.1rem;
}

.fav-card p {
  font-size: 0.85rem;
  color: #ccc;
}

.actions {
  margin-top: 10px;
}

.actions button {
  background: none;
  border: none;
  color: #00c6a7;
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
}
